
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7); /* Optional: adds a transparent background */
  z-index: 9999; /* Ensures the spinner appears on top of all other content */
}
.btn .badge {

  background: rgb(255, 0, 140) !important; 
  border-radius: 20px;
}
